* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-navBackgroundColor: linear-gradient(
    90.46deg,
    #007559 28.08%,
    rgba(0, 117, 89, 0.613411) 52.98%,
    rgba(0, 117, 89, 0.645091) 57.63%,
    rgba(0, 117, 89, 0.503779) 69.62%,
    rgba(0, 117, 89, 0) 125.13%
  );

  --primary-navTextColor: rgba(255, 255, 255, 1);
}

.bgColor{
  background: var(--primary-navBackgroundColor);
}

:root {
  --appointmentBg: rgba(0, 117, 89, 1);
  --mainBg: rgba(237, 238, 239, 1);

}

.appointBg{
  background: var(--appointmentBg);
}

.navTextColor{
  color: var(--primary-navBackgroundColor);
}

.coverBg{
  background: var(--mainBg);
}